<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DS_CLIENT_ID" value="" />
    <add key="DS_IMPERSONATED_USER_GUID" value="" />
    <add key="DS_TARGET_ACCOUNT_ID" value="" />
    <add key="DS_SIGNER_1_EMAIL" value="" />
    <add key="DS_SIGNER_1_NAME" value="" />
    <add key="DS_CC_1_EMAIL" value="" />
    <add key="DS_CC_1_NAME" value="" />
    <add key="DS_PRIVATE_KEY" value="" />
  </appSettings>
</configuration>
