<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DS_CLIENT_ID" value="" />
    <add key="DS_IMPERSONATED_USER_GUID" value="" />
    <add key="DS_TARGET_ACCOUNT_ID" value="FALSE" />
    <add key="DS_SIGNER_1_EMAIL" value="" />
    <add key="DS_SIGNER_1_NAME" value="" />
    <add key="DS_CC_1_EMAIL" value="" />
    <add key="DS_CC_1_NAME" value="" />
    <add key="DS_AUTH_SERVER" value="https://account-d.docusign.com"/>
    <add key="DS_PRIVATE_KEY" value="-----BEGIN RSA PRIVATE KEY-----
MIIEpAIBAAKCAQEAkbz3bi31zrH2ry4p8S4ncPoMdkUyu+MG46m9BalOKzWNNAvW
...
PEHgznlGh/vUboCuA4tQOcKytxFfKG4F+jM/g4GH9z46KZOow3Hb6g==
-----END RSA PRIVATE KEY-----" />
  </appSettings>
</configuration>
